@media screen and (max-width:992px) {
    header {
        position: relative;
    }

    nav {
        display: none;
    }

    .banner {
        height: auto;
        position: static;
    }

    .banner .row {
        height: auto;
        flex-direction: column-reverse;
        gap: 40px;
    }

    .banner .intro .text p {
        font-size: 40px;
    }

    .about .card-me {
        padding-top: 30px;
    }

    .project-card {
        top: -70%;
    }

    .wrapper-project .img {
        display: flex;
        justify-content: center;
    }

    .wrapper-project .row {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width:575.5px) {
    .banner .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner .intro .text {
        text-align: center;
    }

    .banner .intro .text p {
        font-size: 32px;
    }

    .banner .intro .buttons {
        justify-content: center;
        gap: 15px;
    }

    .banner .intro .buttons button {
        margin: 0 0 0 0;
    }

    .project-card {
        top: -100%;
    }
}

@media screen and (max-width:510px) {
    .education .card-education {
        height: 220px;
        padding: 0px;
    }

    .education .education-details {
        flex-direction: column;
    }

    .education .education-details .education-info {
        padding-left: 0px;
        font-size: 15px;
        text-align: center;
    }

    .contact .contact-info {
        margin-left: 0px;
    }

    .contact .contact-items li {
        flex-direction: column;
        gap: 11px;
    }

    .contact .social-links .social-icons {
        justify-content: center;
    }

    .contact .social-links .social-icons a {
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: end;
    }
}